# vscode settings
.vscode/
.old/
numerical_old/
*.7z

# vcpkg package manager
vcpkg_installed/

# xmake build files
.xmake/
build/
vsxmake2026/
.vs/

# calculation result
test_result/
output/
dll/
*.txt